.app {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  background: #f3f7fa;

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 50px 103px;
    padding-top: 0px;
  }
}
